<h1>ユーザー情報</h1>
<div>ユーザー名: <%= @user.name %></div>
<div>メールアドレス:
  <% if @user.id == current_user.id %>
    <%= @user.email %>
  <% else %>
    ******
  <% end %>
</div>

<% if @user.id == current_user.id %>
  <%= link_to 'ユーザー情報を編集する', edit_user_registration_path(current_user.id) %>
  <%= link_to 'アカウントを削除', user_path(current_user.id), data: { turbo_confirm: 'アカウントを削除すると、作成したワークスペースや表も削除されます。本当によろしいですか？', turbo: true, turbo_method: :delete } %>
<% end %>