<%= javascript_pack_tag 'workspace_show_vue' %>
<div class="workspace-name">
  <%= @workspace.name %><span style="font-size: 20px"> by <%= @workspace.made_by %></span>
</div>
<div class="workspace-main">
  <div class="sorting-sheet">仕分け表</div>
  <div class="loading-sheet">積込み表</div>
  <div class="workspace-explanation">
    ワークスペースの説明：<br>
    <%= @workspace.explanation %>
  </div>
  <div class="buttons">
    <div id="add-user-btn">ユーザーを追加する</div>
    <div id="edit-btn">編集する</div>
  </div>
</div>
