.users-wrapper {
  height: 100vh;
  width: 100%;
  background-color: #ececec;
  padding-top: 120px;
}

.users-logo {
  width: max-content;
  font-weight: 600;
  color: rgb(90, 90, 90);
  margin: 0 auto 30px;
}

.users-form {
  padding: 40px;
  max-width: 450px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.30);
}

.users-form__title {
  width: max-content;
  padding: 0 10px;
  margin: 0 auto 50px;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  color: rgb(90, 90, 90);
  border-bottom: 2px solid rgb(90, 90, 90);
}

.users-form__main {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-container label {
  position: absolute;
  top: 2px;
  opacity: 0.3;
  font-size: 30px;
  font-weight: 600;
  line-height: 0.9;
  letter-spacing: 0.15em;
  color: #28385E;
  pointer-events: none;
}

.users-form__main :nth-child(n+4 of .form-container) label{
  top: -25px;
}

.form-container .input {
  height: 30px;
  margin-bottom: 45px;
  border-radius: 0%;
  border-bottom: 1px solid #00000096;
  outline: none;
  text-align: center;
}

.form-container .input:focus + label,
.input:not(:placeholder-shown) + label {
  opacity: 0.08;
}

.form-container .input::placeholder {
  opacity: 0;
}

.form-container .input:focus::placeholder {
  opacity: 1;
}

.submit-btn {
  width: 150px;
  height: 30px;
  margin: 20px auto 0;
  border: none;
  border-radius: 5px;
  background-color: #28385E;
  color: white;
}

.sign-in-up {
  width: 310px;
  font-size: 15px;
  margin: 20px auto 0;
}

.before-page-btn {
  display: block;
  max-width: 450px;
  margin: 0 auto 5px;
}

.page-link {
  color: #28385E;
  text-decoration: underline;
}

.error-message {
  text-decoration: none;
  text-align: center;
}

.field_with_errors input {
  box-sizing: border-box;
  width: 100%;
}

table {
  margin: 0 auto;
  width: 75%;
  border-collapse: collapse;
  text-align: left;
  margin-bottom: 20px;
}

tr {
  border-bottom: 1px solid #505050;
  height: 2em;
}

.user-edit-btn {
  text-align: center;
}

.danger {
  color: red;
  text-decoration: underline;
}