.wrapper {
  display: flex;
}

.side-bar {
  height: 100vh;
  width: 300px;
}

.side-bar__top {
  background-color: #333333;
  height: 10vh;
  width: 300px;
  display: flex;
  align-items: center;
}

.logo {
  width: 100%;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
}

.side-bar__main {
  background-color: #333333;
  width: 300px;
  height: calc(100vh - 10vh);
  padding: 20px 0;
}

.main {
  display: block;
}

.main-header {
  background-color: #444444;
  height: 10vh;
  width: calc(100vw - 300px);
  display: flex;
  align-items: center;
  color: #ffffff;
}

.user-auth-button {
  margin-left: auto;
  padding-right: 20px;
}

.user-auth-button a {
  color: #ffffff;
}

.main-content {
  background-color: #CCCCCC;
  height: calc(100vh - 10vh);
  width: calc(100vw - 300px);
}

